@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: "Poppins", sans-serif;
}

.cadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
}

.cadastroPai {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: darksalmon;
  height: 100vh;
  color: rgb(255, 244, 230);
}

.campo {
  display: flex;
  align-items: center;
  gap: 15px;
}

button {
  border: none;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  transition: all, 0.2s;
}

button:hover{
  background-color: antiquewhite;
  color: coral;
}

input{
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.pets {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 10px;
  width: 70%;
}

.listaPets {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: auto;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  z-index: 1;
}